<!DOCTYPE html>
<html>
<head>
	{# 使用模板继承机制 #}
	{% block head %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ name }}的观看列表</title>
	{# 导入css文件 #}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	{% endblock %}
</head>
<body>
	<!-- 插入提示消息到标题上方 -->
	{% for message in get_flashed_messages() %}
		<div class="alert">{{ message }}</div>
	{% endfor %}
	<h1>{{ name }}的观看列表</h1>
	{# nav标签定义导航链接的部分 #}
	<nav>
		{# ul是无序列表，li是列表的项，class设置css中定义的样式 #}
		<ul>
			<li><a href="{{ url_for('index') }}">主页</a></li>
			{% if current_user.is_authenticated %}
			<li><a href="{{ url_for('logout') }}">登出</a></li>
			{% else %}
			<li><a href="{{ url_for('login') }}">登入</a></li>
			{% endif %}
		</ul>
	</nav>
	{% block content %}{% endblock %}
	<footer>
		{# &copy自动渲染成© #}
		<small>&copy; 2022</small>
	</footer>
</body>
</html>
